<!-- views/djs.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse DJs - BG</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include('./partials/header.ejs', { user: user }) %>
    <main>
        <section class="djs-list">
            <h2>Browse DJs</h2>
            <ul>
                <% users.forEach(user => { %>
                    <li>
                        <a href="/dj_profile/<%= user.id %>">
                            <div class="dj-info">
                                <img src="<%= user.profile_picture || 'public/images/profile.jpg' %>" 
                                alt="Profile Picture" class="profile-picture small">
                                <div class="dj-details">
                                    <h3><%= user.username %></h3>
                                    <p><%= user.bio %></p>
                                    <br>
                                    <!-- Add more user details as needed -->
                                </div>
                            </div>
                        </a>
                    </li>
                <% }); %>
            </ul>
        </section>
        
    </main>
    

    <%- include('./partials/footer.ejs') %>
</body>

</html>
